@font-face {
    font-family: bebas_neue;
    src: url("../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}
@font-face {
    font-family: roboto_flex;
    src: url("../assets/fonts/Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XOPQ\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf");
}
body {
    font-family: roboto_flex;
}
.color-gris {
    color: rgba(35, 56, 68);
}
.bgcolor-gris {
    background-color: rgba(35, 56, 68);
}
.color-amarillo {
    color: #d0ad0096 !important;
}

a {
    text-decoration: none;
}

.bebas-neue {
    font-family: bebas_neue;
}

header a:hover {
    color: #FFD503 !important;
    font-style: italic;
}

.navbar-toggler-icon {
  filter: invert(1) brightness(2);
}
.navbar-toggler {
  border-color: #FFFFFF;

}

#land-page {
    background-size:cover;
    background-repeat: no-repeat; 
    background-position: center; 
    background-image: url("../assets/img/interior.png");
}

h1 {
    font-weight: 900;
}


.btn-warning:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: #FFD503 !important;
}

.btn-light:hover {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: white !important;
}

#title {
    font-size: 5rem;
}

footer a:hover {
    color: #FFD503 !important;
    font-style: italic;
}

.footer-divider {
    width: 2px;
    background-color: #FFD503;
    height: 90px;
    margin: auto;
}


.subdiv {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    min-height: 100vh;
}

@media (min-width: 768px) {
  .subdiv {
    min-height: 50vh;
    width: 50%;
  }
}

.clases-desc {
    background-color: rgba(0, 0, 0, 0.30);
}

.shadow-dark {
    box-shadow: 0px 5px 5px 7px rgba(0, 0, 0, 0.5);
}



.local-row {
  min-height: 350px;
}

.local-row-img {
  height: 100%;
}

.local-row-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}

@media (min-width: 768px) {
  .vh-md-50 {
    height: 50vh;
  }
}


.entrenadores-section {
  min-height: 70vh;
}

.entrenadores-left {
  background-color: rgba(0, 0, 0, 0.9);
}

.entrenadores-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 70vh;
}

@media (max-width: 767.98px) {
  .entrenadores-bg {
    min-height: 40vh;
  }
}
